html{
    background-color:#696969;
}

body{
    margin: 0;
}
header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    height: 72px;
    padding: 0 165px;
}
nav>a{
    display: inline-block;
    color: black;
    background-color: coral;
    text-decoration: none;
    border-radius: 15px;
    padding: 10px;
    position: relative;
    left: 100px;
    font-size: 40px;
}
.fg {
    display: flex;
    justify-content:space-around;
}

.logo{
    font-size: 40px;
}

